*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f3f4f5;
}


.form-box{
width:350px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
text-align:center;
}



.form-box h2{
margin-bottom:20px;
color:#5a1a23;
}



.form-box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:8px;
font-size:14px;
}



.form-box button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:8px;
background:#f3961c;
color:#000;
font-weight:bold;
cursor:pointer;
transition:.25s;
}

.form-box button:hover{
background:#ffb347;
transform:scale(1.03);
}



.form-box p{
margin-top:15px;
font-size:14px;
}

.form-box a{
color:#5a1a23;
font-weight:bold;
text-decoration:none;
}

.form-box a:hover{
text-decoration:underline;
}